/*  */

body {
    background-color: var(--black);
    color: var(--white);
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

:root {
    --white: #f3f3f3;
    --black: rgb(4, 5, 12);
}